<div class="header-wrapper">
  <div class="my-blog-header">
    <div>
      <h1 class="my-blog-title">MY BLOG</h1>
    </div>
  </div>
</div>
<div class="body-wrapper">
  <div class="body-main-content">
    <div class="list-of-blogs">
      <app-blog-list-item *ngFor="let bloglistitem of bloglistitems" [bloglistitem]="bloglistitem"></app-blog-list-item>
    </div>
  </div>
  <div class="view-more-wrapper">
    <button type="button" class="btn btn-secondary btn-lg btn-block view-more">VIEW MORE BLOGS</button>
  </div>
</div>
