<div class="bg-light">
  <div class="page-content">
    <div class="about-title">
      <h1>ABOUT</h1>
    </div>
    <div class="about-main">
      <div class="about-main-text">
        <p>My name is Harley Ding, a few years after spending nights and weekends creating content and producing websites for struggling friends, colleagues, and their referrals while building startup companies full-time in San Francisco. Inspired by clients' happiness when empowered to easily share their work with the world, she decided to leave her job to launch a business dedicated to helping people and companies shine online.
        </p>
        <p>My name is Harley Ding, a few years after spending nights and weekends creating content and producing websites for struggling friends, colleagues, and their referrals while building startup companies full-time in San Francisco. Inspired by clients' happiness when empowered to easily share their work with the world, she decided to leave her job to launch a business dedicated to helping people and companies shine online.</p>
        <p>My name is Harley Ding, a few years after spending nights and weekends creating content and producing websites for struggling friends, colleagues, and their referrals while building startup companies full-time in San Francisco. Inspired by clients' happiness when empowered to easily share their work with the world, she decided to leave her job to launch a business dedicated to helping people and companies shine online.</p>
      </div>
      <div class="about-main-picture">
        <img src="/src/assets/harley.jpg" class="profile-photo">
      </div>
    </div>
  </div>
</div>
