<div class="py-5 bg-light">
  <div class="container">
    <div class="flex-box">

      <div class="flex-child">
        <div class="card card-width">
          <img class="card-img-top" src="/src/assets/5e6fd253-447e-41dd-ad39-e67d2032b67e-original.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="flex-child">
        <div class="card card-width">
          <img class="card-img-top" src="/src/assets/5e6fd253-447e-41dd-ad39-e67d2032b67e-original.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="flex-child">
        <div class="card card-width">
          <img class="card-img-top" src="/src/assets/5e6fd253-447e-41dd-ad39-e67d2032b67e-original.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="flex-child">
        <div class="card card-width">
          <img class="card-img-top" src="/src/assets/5e6fd253-447e-41dd-ad39-e67d2032b67e-original.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="flex-child">
        <div class="card card-width">
          <img class="card-img-top" src="/src/assets/5e6fd253-447e-41dd-ad39-e67d2032b67e-original.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="flex-child">
        <div class="card card-width">
          <img class="card-img-top" src="/src/assets/5e6fd253-447e-41dd-ad39-e67d2032b67e-original.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

  </div>
  </div>
</div>

