.flex-box{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-child{
  /*position: relative;*/
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;

}
@media screen and (min-width: 768px) {
  .flex-child{
    max-width: 33.333333%;
  }
}
