<div class="background-photo">
  <section class="text-center" id="blog-border">
    <div class="container">
      <div class="blog-title">
        <h1>This is the main title This is the main title This is the main title</h1>
        <h2>This is the secondary title</h2>
      </div>
    </div>
  </section>
</div>
<div class="bg-light">
  <div class="container">
    <div class="blog-content">
      <p>Hong Kong is special to me, because it’s my first international travel with my friend.  It’s like fulfilling a childhood dream when we toured Hong Kong Disneyland.  This is why I wrote this Hong Kong Travel Guide Blog. If you dream of traveling to Hong Kong, have the courage to pursue it. As Walt Disney said it, “If you can dream it, you can do it!”.   But of course, Hong Kong travel blog is not all about Hong Kong Disneyland, I also included sample Macau + Hong Kong itineraries with budget.</p>
      <p>Hong Kong is perpetually short on space and overflowing with people, reason why the country is sprinkled with eye-popping high-rise apartment buildings to address the housing crisis. Yet despite its size, it attracts millions of tourists each year, and that’s not really surprising, given the wealth of family-friendly attractions, lively street life and shopping meccas here. And if you feel like escaping the bustling, futuristic jungle, rush to the outlying areas with hills and beaches that remain untainted by commercialism.</p>
      <h2 class="section-heading">BEST TIME TO VISIT HONG KONG</h2>
      <p>Hong Kong is a year round destination, you can visit it any months of the year.  But just to give you an idea about its climate and clothes to pack, you can refer to the table and information below.Spring in Hong Kong falls around the months of March to May. Hong Kong is quite humid and rainy during this season.Summer in Hong Kong is hot and humid and falls around June to September. Storms are also typical around these months.Fall in Hong Kong is around November to December is a pleasant season to travel to the country.  The weather is not too hot or humid and not rainy.</p>
      <img src="/src/assets/hongkong2.jpg" class="section-image" width="1280" height="589">
    </div>
  </div>
</div>
